{% extends 'master' %}
{% block styles%} 
  <link rel="stylesheet" href="/js/dist/client.5df884ab.css">
  <link rel="stylesheet" href="/js/dist/client.5df884ab.css.map">
{% endblock %}

{% block content %}
  <div id="app"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/dist/client.9810fbde.js"></script>
<script type="text/javascript" src="/js/dist/client.9810fbde.js.map"></script>
{#<scripts src="js/dist/client.2afedda0.js"></scripts>
<scripts src="js/dist/client.2afedda0.js.map"></scripts>#}
{% endblock %}