{% extends 'master' %}

{% block content %}
  <div class="">
    {{ form.open({action: 'ScannerController.store'}) }}
    {{ csrfField }}
    <label for="scannedBarcodes">Scanned Barcodes</label>
    <textarea name="scannedBarcodes" id="scannedBarcodes" cols="30" rows="10"></textarea>
    <button type="submit">Save</button>
    {{ form.close()}}
  </div>

  <div id="app"></div>
{% endblock %}

{% block scripts %}
<scripts src="js/dist/client.09d578de.js"></scripts>
<scripts src="js/dist/client.09d578de.js.map"></scripts>
{% endblock %}